<div style="width: 100px; height: 100px; float: left; background-image: url('https://t4.ftcdn.net/jpg/02/40/63/55/360_F_240635575_EJifwRAbKsVTDnA3QE0bCsWG5TLhUNEZ.jpg'); border-radius: 15%; margin-left: 10px;" >
    <div style="margin: 0 auto; width: 75px; height: 75px;">
    <img src="icons/dir.svg " width="50" height="50">
    <a class="text-white" style="margin-left: 5px;" href="/delete">   x</a>
    <p class="text-white text-center ">{{this}}</p>
    </div>
</div>