<div
    style="width: 100px; height: 100px; float: left; background-image: url('https://img.freepik.com/free-vector/gradient-dynamic-purple-lines-background_23-2148995757.jpg?size=626&ext=jpg&ga=GA1.1.632798143.1705708800&semt=sph'); border-radius: 15%; margin-left: 10px">
    <div style="margin: 0 auto; width: 75px; height: 75px;">
        <img src="icons/{{getExtension this}}.svg" width="50" height="50" style="margin-top: 5px">
        <a class="text-white" style="margin-left: 5px;" href="/delete?name={{this}}"> x</a>
        <a style="width: 100px" class="text-white text-center " href="/showfile?name={{this}}">{{this}}</a>
    </div>
</div>