<div class="text-center">
<h1>zalogowany user to <span style="color: red;">{{username}}</span></h1>  
<h2> zostaniesz automatycznie wylogowany za 30 sekund</h2>
<button class="btn btn-rounded btn-dark text-white"><a href="/logout">Wyloguj</button>
</div>