
<div style="text-align: center;">
    <h1>Cookie Authentication</h1>
    <div style="width: 300px; margin: 0 auto;">
        <a href="/register"><button class="btn btn-rounded btn-dark text-white">REGISTER</button></a>
        <button class="btn btn-rounded btn-dark text-white">INDEX</button>
        <div style="display: block;">
            <form action="/login" method="POST" style="width: 300px; margin: 0 auto;">
                <input type="text" name="username" id="username" placeholder="Enter name"><br>
                <input type="password" id="pass" name="pass" placeholder="Enter password"><br>
                <button type="submit" class="btn btn-rounded btn-dark text-white">LogIn</button>
            </form>
        </div>
    </div>
</div>
<style>
    input {
        margin: 5px;
    }
</style>